Heros of Pymoli Data Analysis.
1. The players are overwhelmingly male. There were 633 malae players and onl7 136 female players.
2. The 20-24 age group had the most purchases.
3. The toal revune generated for all players was $2286.33

In [1]:
#Dependencies

import pandas as pd
import numpy as np

In [2]:
#Store file path as a variable.

purchase_data = "Resources/purchase_data.json"

In [3]:
# Read the purchase data csv file with the pandas library. Show header.

purchase_data_df = pd.read_json(purchase_data)
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
#Display a statistical overview of the purchase data.
purchase_data_df.describe()

              Age     Item ID       Price
count  780.000000  780.000000  780.000000
mean    22.729487   91.293590    2.931192
std      6.930604   52.707537    1.115780
min      7.000000    0.000000    1.030000
25%     19.000000   44.000000    1.960000
50%     22.000000   91.000000    2.880000
75%     25.000000  135.000000    3.910000
max     45.000000  183.000000    4.950000

In [5]:
#Total number of players.

total_players_df = purchase_data_df["SN"]
total_players_df.head()

0       Aelalis34
1          Eolo46
2     Assastnya25
3    Pheusrical25
4          Aela59
Name: SN, dtype: object

In [6]:
#Number of unique items.
items_df = len(purchase_data_df["Item Name"].value_counts())
items_df

179

In [7]:
#Average purchase price.

average_df = round(purchase_data_df["Price"].mean(), 2)
average_df

2.9300000000000002

In [8]:
#Total number of purchases.

total_purchases_df = len(purchase_data_df["Item Name"])
total_purchases_df

780

In [9]:
# Total Revenue.

total_revenue_df = round(purchase_data_df["Price"].sum(),2)
total_revenue_df

2286.3299999999999

In [10]:
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[items_df],
                                             "Average Purchase Price":[average_df],
                                            "Total Number of Purchases":[total_purchases_df],
                                             "Total Revenue":[total_revenue_df]})
purchasing_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.93,179,780,2286.33

In [11]:
# Gender Count
gender_count_df = purchase_data_df["Gender"].value_counts()
gender_count_df.head()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [12]:
# Gender Percentage
gender_percentage_df = round(purchase_data_df["Gender"].value_counts()/780,2)
gender_percentage_df

Male                     0.81
Female                   0.17
Other / Non-Disclosed    0.01
Name: Gender, dtype: float64

In [13]:

#Total number of purchases.

total_purchases_df = len(purchase_data_df["Item Name"])
total_purchases_df

780

In [14]:
female_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Female",:]
female_count_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
22,11,Female,11,Brimstone,2.52,Deural48
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25

In [15]:
#Female players purchase count.

female_purchases_df = len(female_count_df["Item ID"])
female_purchases_df

136

In [16]:
# Average price of items brought by female players.

female_average_df = round(female_count_df["Price"].mean(),2)
female_average_df

2.8199999999999998

In [17]:
#Total Purchase value for female players.

female_total_df = round(female_count_df["Price"].sum(), 2)
female_total_df

382.91000000000003

In [18]:
#Normalized female total.
normalized_female_total_df = round(female_count_df["Price"].sum(), 2)/136
normalized_female_total_df

2.8155147058823533

In [19]:
purchase_data_df = purchase_data_df.reset_index(drop=True)
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [20]:
male_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Male",:]
male_count_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [21]:
#Male players purchase count.

male_purchases_df = len(male_count_df["Item ID"])
male_purchases_df

633

In [22]:
# Average price of items brought by male players.

male_average_df = round(male_count_df["Price"].mean(),2)
male_average_df

2.9500000000000002

In [23]:
#Total Purchase value for male players.

male_total_df = round(male_count_df["Price"].sum(), 2)
male_total_df

1867.6800000000001

In [24]:
#Normalized male total.
normalized_male_total_df = round(male_count_df["Price"].sum(), 2)/633
normalized_male_total_df

2.9505213270142181

In [25]:
#Other / Non-Diclosed player count.

other_count_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed",:]
other_count_df

,Age,Gender,Item ID,Item Name,Price,SN
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38
209,33,Other / Non-Disclosed,157,"Spada, Etcher of Hatred",2.21,Frichistasta59
244,21,Other / Non-Disclosed,183,Dragon's Greatsword,2.36,Tyaerith73
267,33,Other / Non-Disclosed,65,Conqueror Adamantite Mace,1.96,Frichistasta59
276,12,Other / Non-Disclosed,128,"Blazeguard, Reach of Eternity",4.00,Aillycal84
298,26,Other / Non-Disclosed,141,Persuasion,3.27,Faralcil63
329,27,Other / Non-Disclosed,61,Ragnarok,3.97,Eurisuru25
423,32,Other / Non-Disclosed,29,"Chaos, Ender of the End",3.79,Aithelis62
593,22,Other / Non-Disclosed,115,Spectral Diamond Doomblade,4.25,Euna48
709,34,Other / Non-Disclosed,179,"Wolf, Promise of the Moonwalker",1.88,Assassa38
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25

In [26]:
#Other/non-diclosed gender players purchase count.

other_purchases_df = len(other_count_df["Item ID"])
other_purchases_df

11

In [27]:
# Average price of items brought by other/non-disclosed players.

other_average_df = round(other_count_df["Price"].mean(),2)
other_average_df

3.25

In [28]:
#Total Purchase value for other/non-disclosed players.

other_total_df = round(other_count_df["Price"].sum(), 2)
other_total_df

35.740000000000002

In [29]:
#Normalized totals for other/non-disclosed players.

normalized_other_total_df = round(other_count_df["Price"].sum(), 2)/11
normalized_other_total_df

3.2490909090909095

In [30]:
female_purchase_analysis_df = pd.DataFrame({"Purchase Count":[female_purchases_df],
                                            "Average Purchase Price":[female_average_df],
                                            "Total Purchase Value":[female_total_df],
                                            "Normalized Total":[normalized_female_total_df]
})

female_purchase_analysis_df

,Average Purchase Price,Normalized Total,Purchase Count,Total Purchase Value
0,2.82,2.815515,136,382.91

In [31]:
# Purchasing analysis for male players.

male_purchase_analysis_df = pd.DataFrame({"Purchase Count":[male_purchases_df],
                                         "Average Purchase Price":[male_average_df],
                                         "Total Purchase Value":[male_total_df],
                                         "Normalized Total": [normalized_male_total_df]})
                                         
male_purchase_analysis_df

,Average Purchase Price,Normalized Total,Purchase Count,Total Purchase Value
0,2.95,2.950521,633,1867.68

In [32]:
# Purchasing analysis for other/non-disclosed players.

other_purchase_analysis_df = pd.DataFrame({"Purchase Count":[other_purchases_df],
                                         "Average Purchase Price":[other_average_df],
                                         "Total Purchase Value":[other_total_df],
                                         "Normalized Total":[normalized_other_total_df]})
other_purchase_analysis_df

,Average Purchase Price,Normalized Total,Purchase Count,Total Purchase Value
0,3.25,3.249091,11,35.74

In [33]:
female_purchase_analysis_df.append(male_purchase_analysis_df).append(other_purchase_analysis_df)

,Average Purchase Price,Normalized Total,Purchase Count,Total Purchase Value
0,2.82,2.815515,136,382.91
0,2.95,2.950521,633,1867.68
0,3.25,3.249091,11,35.74

In [34]:
#Create bins in which data will be held. Bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39 >39.

bins = [0,10,15,20,25,30,35,40, 45]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [35]:
# Cut purchase data and place the ages into bins
pd.cut(purchase_data_df["Age"], bins, labels=age_ranges)

0      35-39
1      20-24
2      30-34
3      20-24
4      20-24
5      15-19
6      15-19
7      25-29
8      20-24
9      30-34
10     20-24
11     15-19
12     25-29
13     20-24
14     35-39
15     20-24
16     20-24
17     20-24
18     25-29
19     30-34
20     20-24
21     10-14
22     10-14
23     15-19
24     10-14
25     20-24
26     25-29
27     30-34
28     10-14
29     15-19
       ...
750    20-24
751    25-29
752    10-14
753    15-19
754    30-34
755    20-24
756    20-24
757    30-34
758    15-19
759    15-19
760    25-29
761    25-29
762    35-39
763    25-29
764    20-24
765    10-14
766    20-24
767    15-19
768    20-24
769    20-24
770    20-24
771    20-24
772    10-14
773    20-24
774    20-24
775    20-24
776    10-14
777    15-19
778    15-19
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >=40]

In [36]:
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels= age_ranges)
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [37]:
age_group =purchase_data_df.groupby("Age Range")

print(age_group["SN"].count())

Age Range
<10       32
10-14     78
15-19    184
20-24    305
25-29     76
30-34     58
35-39     44
>=40       3
Name: SN, dtype: int64

In [38]:
Age_group_percentage_df = round(purchase_data_df["Age Range"].value_counts()/780,2)
Age_group_percentage_df

20-24    0.39
15-19    0.24
10-14    0.10
25-29    0.10
30-34    0.07
35-39    0.06
<10      0.04
>=40     0.00
Name: Age Range, dtype: float64

In [39]:
under_10_count_df = purchase_data_df.loc[purchase_data_df["Age Range"] == "<10",:]
under_10_count_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
70,7,Female,158,"Darkheart, Butcher of the Champion",3.56,Eosurdru76,<10
121,7,Male,175,Woeful Adamantite Claymore,1.24,Lassjask63,<10
125,7,Female,10,Sleepwalker,1.73,Heosurnuru52,<10
170,9,Male,71,Demise,4.07,Reulae52,<10
237,7,Male,121,Massacre,3.42,Lisistaya47,<10

In [40]:
#Players under 10 purchase count.

under_10_purchases_df = len(under_10_count_df["Item ID"])
under_10_purchases_df

32

In [41]:
#Average price of items purchased by players under 10.


under10_average_df = round(under_10_count_df["Price"].mean(),2)
under10_average_df

3.02

In [42]:
#Total purchase value for players under 10.

under10_total_df = round(under_10_count_df["Price"].sum(), 2)
under10_total_df

96.620000000000005

In [43]:
#Normalized under 10 players total.
normalized_under10_total_df = round(under_10_count_df["Price"].sum(), 2)/32
normalized_under10_total_df

3.0193750000000001

In [44]:
#Filter players 10-14.

count_10to14_df = purchase_data_df.loc[purchase_data_df["Age Range"] == "10-14",:]
count_10to14_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,10-14
22,11,Female,11,Brimstone,2.52,Deural48,10-14
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,10-14
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,10-14
46,11,Male,17,"Lazarus, Terror of the Earth",3.47,Palatyon26,10-14

In [45]:
#Players 10-14 purchase count.

purchases_10to14_df = len(count_10to14_df["Item ID"])
purchases_10to14_df

78

In [46]:
#Average price of items purchased by players 10 to 14.

average10to14_df = round(count_10to14_df["Price"].mean(),2)
average10to14_df

2.8700000000000001

In [47]:
#Total purchase value for players 10-14.

total_10to14_df = round(count_10to14_df["Price"].sum(), 2)
total_10to14_df

224.15000000000001

In [48]:
#Normalized total players 10 to 14.

norm_10to14_df = round(count_10to14_df["Price"].sum(), 2)/78
norm_10to14_df

2.8737179487179487

In [49]:
#Players 15-19 filter.

count15to19_df = purchase_data_df.loc[purchase_data_df["Age Range"] == "15-19",:]
count15to19_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,15-19
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,15-19
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,15-19
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,15-19
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,15-19

In [50]:
# Players 15 to 19 purchase count.
purchase15to19_df = len(count15to19_df["Item ID"])
purchase15to19_df

184

In [51]:
#Average purchase price for players 15 to 19.

average15to19_df = round(count15to19_df["Price"].mean(),2)
average15to19_df

2.8700000000000001

In [52]:
#Total purchase value for 15 to 19.

total_15to19_df = round(count15to19_df["Price"].sum(),2)
total_15to19_df

528.74000000000001

In [53]:
#Normalized total players 15 to 19.

norm_15to19_df = round(count15to19_df["Price"].sum(), 2)/184
norm_15to19_df

2.8735869565217391

In [54]:
#Make a filter for players 20-24.

filter20to24_df = purchase_data_df.loc[purchase_data_df["Age Range"] == "20-24",:]
filter20to24_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,20-24
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,20-24

In [55]:
#Total purchases for players 20-24.

purchases20to24_df = len(filter20to24_df["Item ID"])
purchases20to24_df

305

In [56]:
# Average purchase price players 20-24.

average20to24_df = round(filter20to24_df["Price"]).mean()
average20to24_df

2.9344262295081966

In [57]:
#Total purchase value players 20-24.
total20to24_df = round(filter20to24_df["Price"]).sum()
total20to24_df

895.0

In [58]:
# Normalized values for players 20 to 24.
norm20to24_df = round(filter20to24_df["Price"]).sum()/305
norm20to24_df

2.9344262295081966

In [59]:
#Make a filter for players 25-29. 
filter25to29_df = purchase_data_df.loc[purchase_data_df["Age Range"] == "25-29",:]
filter25to29_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,25-29
12,30,Male,81,Dreamkiss,4.06,Iskossa88,25-29
18,28,Male,91,Celeste,3.71,Iskista88,25-29
26,29,Male,132,Persuasion,3.90,Aerithllora36,25-29
79,29,Male,144,Blood Infused Guardian,2.86,Undirrala66,25-29

In [60]:
#Total purchases for players 25-29.

tp_25to29_df = len(filter25to29_df["Item ID"])
tp_25to29_df

76

In [61]:
# Average purchase price for players 25-29.

average25to29_df = round(filter25to29_df["Price"]).mean()
average25to29_df

2.8947368421052633

In [62]:
#Total purchase value for players 25-29.

tvp_25to29_df = round(filter25to29_df["Price"]).sum()
tvp_25to29_df

220.0

In [63]:
#Normalized totals for players 25-29.

norm25to29_df = round(filter25to29_df["Price"]).sum()/76
norm25to29_df

2.8947368421052633

In [64]:
#Filter players 30 to 34.

filter30to34_df = purchase_data_df.loc[purchase_data_df["Age Range"] == "30-34",:]
filter30to34_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,30-34
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,30-34
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,30-34
37,31,Male,171,Scalpel,3.62,Sondossa91,30-34

In [65]:
#Players 30 to 34 purchase count.

tp30to34_df = len(filter30to34_df["Item ID"])
tp30to34_df

58

In [66]:
# Average purchase price 30 to 34.

average30to34_df = round(filter30to34_df["Price"]).mean()
average30to34_df

3.1206896551724137

In [67]:
#Total purchase value for players ages 30 to 34.

total30to34_df = round(filter30to34_df["Price"]).sum()
total30to34_df

181.0

In [68]:
#Normalized total for players ages 30 to 34.

norm30to34_df = round(filter30to34_df["Price"]).sum()/58
norm30to34_df

3.1206896551724137

In [69]:
#Filter players ages 35 to 39.

filter35to39_df = purchase_data_df.loc[purchase_data_df["Age Range"] == "35-39",:]
filter35to39_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,35-39
81,38,Male,175,Woeful Adamantite Claymore,1.24,Yaristi64,35-39
106,37,Female,174,Primitive Blade,2.46,Chadossa56,35-39
179,40,Male,70,Hope's End,3.89,Chanosiaya39,35-39

In [70]:
#Purchase count for players 35-39.

count35to39_df = len(filter35to39_df["Item ID"])
count35to39_df

44

In [71]:
#Average purchase prices for players 35 to 39.

average35to39_df = round(filter35to39_df["Price"]).mean()
average35to39_df

2.8409090909090908

In [72]:
#Total purchase value for players 35 to 39.

total35to39_df = round(filter35to39_df["Price"]).sum()
total35to39_df

125.0

In [73]:
#Normalized values for players 35 to 39.

norm35to39_df = round(filter35to39_df["Price"]).sum()/44
norm35to39_df

2.8409090909090908

In [74]:
#Filter players 40 and over.

over40players_df = purchase_data_df.loc[purchase_data_df["Age Range"] == ">=40",:]
over40players_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
264,45,Male,124,Venom Claymore,2.72,Marassaya49,>=40
319,42,Male,110,Suspension,2.11,Lisista27,>=40
644,43,Male,57,"Despair, Favor of Due Diligence",3.81,Raesurdil91,>=40

In [75]:
#Purchase count for players 40 and over.

count40_df = len(over40players_df["Item ID"])
count40_df

3

In [76]:
#Average price for players 40 and over.

average40_df = round(over40players_df["Price"]).mean()
average40_df

3.0

In [77]:
#Total purchase value for players 40 and over.
total40_df = round(over40players_df["Price"]).sum()
total40_df

9.0

In [78]:
#Normalized values for players 40 and over.

norm40_df = round(over40players_df["Price"]).sum()/3
norm40_df

3.0

In [79]:
# Players under 10 summary.

under10_df = pd.DataFrame({"Purchase Count":[under_10_purchases_df],
               "Average Purchase Price":[under10_average_df],
               "Total Purchase Value":[under10_total_df],
               "Normalized Totals":[normalized_under10_total_df]})
under10_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
0,3.02,3.019375,32,96.62

In [80]:
# Players 10 to 14 summary.

summary10to14_df = pd.DataFrame({"Purchase Count":[purchases_10to14_df],
               "Average Purchase Price":[average10to14_df],
               "Total Purchase Value":[total_10to14_df],
               "Normalized Totals":[norm_10to14_df]})
summary10to14_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
0,2.87,2.873718,78,224.15

In [81]:
# Players 15 to 19 summary.

summary15to19_df = pd.DataFrame({"Purchase Count":[purchase15to19_df],
               "Average Purchase Price":[average15to19_df],
               "Total Purchase Value":[total_15to19_df],
               "Normalized Totals":[norm_15to19_df ]})
summary15to19_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
0,2.87,2.873587,184,528.74

In [82]:
# Players 20 to 24 summary.

summary20to24_df = pd.DataFrame({"Purchase Count":[purchases20to24_df],
               "Average Purchase Price":[average20to24_df],
               "Total Purchase Value":[total20to24_df],
                "Normalized Totals":norm20to24_df})
summary20to24_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
0,2.934426,2.934426,305,895.0

In [83]:
# Players 25 to 29 summary.

summary25to29_df = pd.DataFrame({"Purchase Count":[tp_25to29_df],
               "Average Purchase Price":[average20to24_df],
               "Total Purchase Value":[tvp_25to29_df],
               "Normalized Totals":[norm25to29_df]})
summary25to29_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
0,2.934426,2.894737,76,220.0

In [84]:
# Players 30 to 34 summary.

summary30to34_df = pd.DataFrame({"Purchase Count":[tp30to34_df],
               "Average Purchase Price":[average30to34_df],
               "Total Purchase Value":[total30to34_df],
               "Normalized Totals":[norm30to34_df]})
summary30to34_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
0,3.12069,3.12069,58,181.0

In [85]:
# Players 35 to 39 summary.

summary35to39_df = pd.DataFrame({"Purchase Count":[count35to39_df],
               "Average Purchase Price":[average35to39_df],
               "Total Purchase Value":[total35to39_df],
               "Normalized Totals":[norm35to39_df]})
summary35to39_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
0,2.840909,2.840909,44,125.0

In [86]:
# Players 40 and over summary.

summary40_df = pd.DataFrame({"Purchase Count":[count40_df],
               "Average Purchase Price":[average40_df],
               "Total Purchase Value":[total40_df],
               "Normalized Totals":norm40_df})
summary40_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
0,3.0,3.0,3,9.0

In [87]:
under10_df.append(summary10to14_df.append(summary15to19_df.append(summary20to24_df.append(summary25to29_df.append(summary30to34_df.append(summary35to39_df.append(summary40_df)))))))

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
0,3.020000,3.019375,32,96.62
0,2.870000,2.873718,78,224.15
0,2.870000,2.873587,184,528.74
0,2.934426,2.934426,305,895.00
0,2.934426,2.894737,76,220.00
0,3.120690,3.120690,58,181.00
0,2.840909,2.840909,44,125.00
0,3.000000,3.000000,3,9.00

In [88]:
# Using GroupBy in order to separate the data into fields according to "Item Namw" values
grouped_items_df = purchase_data_df.groupby(['Item Name', 'Price'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_items_df)

# In order to be visualized, a data function must be used...
grouped_items_df.count()

<pandas.core.groupby.DataFrameGroupBy object at 0x117942278>

                                                Age  Gender  Item ID  SN  \
Item Name                                Price
Abyssal Shard                            2.04     3       3        3   3
Aetherius, Boon of the Blessed           4.75     4       4        4   4
Agatha                                   1.91     5       5        5   5
Alpha                                    1.56     7       7        7   7
Alpha, Oath of Zeal                      2.88     7       7        7   7
Alpha, Reach of Ending Hope              1.55     6       6        6   6
Amnesia                                  3.57     6       6        6   6
Apocalyptic Battlescythe                 3.91     4       4        4   4
Arcane Gem                               2.23    11      11       11  11
Avenger                                  4.16     6       6        6   6
Azurewrath                               2.22     5       5        5   5
Betrayal, Whisper of Grieving Widows     2.35    11      11       11  11
Betrayer                                 1.67     3       3        3   3
Blade of the Grave                       1.69     7       7        7   7
Blazefury, Protector of Delusions        1.50     2       2        2   2
Blazeguard, Reach of Eternity            4.00     6       6        6   6
Blindscythe                              3.66     5       5        5   5
Blood Infused Guardian                   2.86     5       5        5   5
Blood-Forged Skeletal Spine              4.77     2       2        2   2
Bloodlord's Fetish                       2.28     1       1        1   1
Bone Crushing Silver Skewer              3.37     3       3        3   3
Bonecarvin Battle Axe                    2.46     8       8        8   8
Brimstone                                2.52     7       7        7   7
Brutality Ivory Warmace                  1.72     4       4        4   4
Celeste                                  3.71     6       6        6   6
Celeste, Incarnation of the Corrupted    2.31     4       4        4   4
Chaos, Ender of the End                  3.79     3       3        3   3
Conqueror Adamantite Mace                1.96     8       8        8   8
Crucifer                                 2.28     4       4        4   4
                                         2.77     4       4        4   4
...                                             ...     ...      ...  ..
Thorn, Conqueror of the Corrupted        2.04     2       2        2   2
Thorn, Satchel of Dark Souls             4.51     6       6        6   6
Thunderfury Scimitar                     3.02     3       3        3   3
Toothpick                                3.48     5       5        5   5
Torchlight, Bond of Storms               1.77     7       7        7   7
Tranquility, Razor of Black Magic        2.47     2       2        2   2
Trickster                                2.07     9       9        9   9
Twilight's Carver                        1.14     5       5        5   5
Undead Crusader                          4.67     4       4        4   4
Unending Tyranny                         1.21     3       3        3   3
Unholy Wand                              1.88     4       4        4   4
Vengeance Cleaver                        3.70     3       3        3   3
Venom Claymore                           2.72     6       6        6   6
Verdict                                  3.40     1       1        1   1
Victor Iron Spikes                       3.55     7       7        7   7
Vindictive Glass Edge                    4.26     2       2        2   2
War-Forged Gold Deflector                3.73     3       3        3   3
Warmonger, Gift of Suffering's End       3.96     6       6        6   6
Warped Diamond Crusader                  4.66     3       3        3   3
Warped Fetish                            2.41     2       2        2   2
Warped Iron Scimitar                     4.08     2       2        2   2
Whistling Mithril Warblade               4.32     4       4        4   4
Winter's Bite                            1.39     2       2        2   2
Winterthorn, Defender of Shifting Worlds 4.89     4       4        4   4
Woeful Adamantite Claymore               1.24     9       9        9   9
Wolf                                     1.84     5       5        5   5
Wolf, Promise of the Moonwalker          1.88     7       7        7   7
Worldbreaker                             3.29     2       2        2   2
Yearning Crusher                         1.06     2       2        2   2
Yearning Mageblade                       1.79     4       4        4   4

                                                Age Range
Item Name                                Price
Abyssal Shard                            2.04           3
Aetherius, Boon of the Blessed           4.75           4
Agatha                                   1.91           5
Alpha                                    1.56           7
Alpha, Oath of Zeal                      2.88           7
Alpha, Reach of Ending Hope              1.55           6
Amnesia                                  3.57           6
Apocalyptic Battlescythe                 3.91           4
Arcane Gem                               2.23          11
Avenger                                  4.16           6
Azurewrath                               2.22           5
Betrayal, Whisper of Grieving Widows     2.35          11
Betrayer                                 1.67           3
Blade of the Grave                       1.69           7
Blazefury, Protector of Delusions        1.50           2
Blazeguard, Reach of Eternity            4.00           6
Blindscythe                              3.66           5
Blood Infused Guardian                   2.86           5
Blood-Forged Skeletal Spine              4.77           2
Bloodlord's Fetish                       2.28           1
Bone Crushing Silver Skewer              3.37           3
Bonecarvin Battle Axe                    2.46           8
Brimstone                                2.52           7
Brutality Ivory Warmace                  1.72           4
Celeste                                  3.71           6
Celeste, Incarnation of the Corrupted    2.31           4
Chaos, Ender of the End                  3.79           3
Conqueror Adamantite Mace                1.96           8
Crucifer                                 2.28           4
                                         2.77           4
...                                                   ...
Thorn, Conqueror of the Corrupted        2.04           2
Thorn, Satchel of Dark Souls             4.51           6
Thunderfury Scimitar                     3.02           3
Toothpick                                3.48           5
Torchlight, Bond of Storms               1.77           7
Tranquility, Razor of Black Magic        2.47           2
Trickster                                2.07           9
Twilight's Carver                        1.14           5
Undead Crusader                          4.67           4
Unending Tyranny                         1.21           3
Unholy Wand                              1.88           4
Vengeance Cleaver                        3.70           3
Venom Claymore                           2.72           6
Verdict                                  3.40           1
Victor Iron Spikes                       3.55           7
Vindictive Glass Edge                    4.26           2
War-Forged Gold Deflector                3.73           3
Warmonger, Gift of Suffering's End       3.96           6
Warped Diamond Crusader                  4.66           3
Warped Fetish                            2.41           2
Warped Iron Scimitar                     4.08           2
Whistling Mithril Warblade               4.32           4
Winter's Bite                            1.39           2
Winterthorn, Defender of Shifting Worlds 4.89           4
Woeful Adamantite Claymore               1.24           9
Wolf                                     1.84           5
Wolf, Promise of the Moonwalker          1.88           7
Worldbreaker                             3.29           2
Yearning Crusher                         1.06           2
Yearning Mageblade                       1.79           4

[183 rows x 5 columns]

In [89]:
count = purchase_data_df['Item Name'].value_counts()
count.head()

Final Critic                            14
Arcane Gem                              11
Betrayal, Whisper of Grieving Widows    11
Stormcaller                             10
Serenity                                 9
Name: Item Name, dtype: int64

In [90]:
count = purchase_data_df['Item ID'].value_counts()
count.head()

84     11
39     11
31      9
34      9
175     9
Name: Item ID, dtype: int64

In [91]:
purchase_data_df.groupby(['SN', 'Item Name'])['SN'].count()

SN              Item Name
Adairialis76    Bonecarvin Battle Axe                           1
Aduephos78      Alpha, Oath of Zeal                             1
                Final Critic                                    1
                Primitive Blade                                 1
Aeduera68       Betrayal, Whisper of Grieving Widows            1
                Crying Steel Sickle                             1
                Soul-Forged Steel Shortsword                    1
Aela49          Bonecarvin Battle Axe                           1
Aela59          Stormfury Mace                                  1
Aelalis34       Blade of the Grave                              1
                Bone Crushing Silver Skewer                     1
Aelin32         Eternal Cleaver                                 1
Aeliriam77      Orenmir                                         1
                Torchlight, Bond of Storms                      1
Aeliriarin93    Thorn, Conqueror of the Corrupted               1
Aeliru63        Stormcaller                                     1
                Stormfury Longsword                             1
Aellyria80      Whistling Mithril Warblade                      1
Aellyrialis39   Darkheart                                       1
Aellysup38      Splitter, Foe Of Subtlety                       1
Aelollo59       Fate, Vengeance of Eternal Justice              1
Aenarap34       Lightning, Etcher of the King                   1
Aenasu69        Persuasion                                      1
Aeral43         Venom Claymore                                  1
Aeral85         Spectral Diamond Doomblade                      1
Aeral97         Betrayal, Whisper of Grieving Widows            1
Aeri84          Betrayal, Whisper of Grieving Widows            1
                Spectral Diamond Doomblade                      1
Aerillorin70    Wolf, Promise of the Moonwalker                 1
Aerithllora36   Dreamkiss                                       1
                                                               ..
Yadanun74       Worldbreaker                                    1
Yalaeria91      Wolf, Promise of the Moonwalker                 1
Yaliru88        Celeste                                         1
Yalo71          Warped Fetish                                   1
Yalostiphos68   Renewed Skeletal Katana                         1
Yaralnura48     Alpha, Reach of Ending Hope                     1
                Sun Strike, Jaws of Twisted Visions             1
Yararmol43      Alpha, Reach of Ending Hope                     1
Yarirarn35      Alpha, Oath of Zeal                             1
Yaristi64       Woeful Adamantite Claymore                      1
Yarithllodeu72  Feral Katana                                    1
Yarithphos28    Betrayal, Whisper of Grieving Widows            1
Yarithsurgue62  Nirvana                                         1
                Vengeance Cleaver                               1
Yarmol79        Misery's End                                    1
Yarolwen77      Arcane Gem                                      1
                Hopeless Ebon Dualblade                         1
Yasriphos60     Brimstone                                       1
                Scalpel                                         1
                Vindictive Glass Edge                           1
Yasrisu92       Frenzied Scimitar                               1
Yasur35         Stormcaller                                     1
Yasur85         Thorn, Conqueror of the Corrupted               1
Yasurra52       Eternal Cleaver                                 1
Yathecal72      Restored Bauble                                 1
                Warped Diamond Crusader                         1
Yathecal82      Oathbreaker, Last Hope of the Breaking Storm    1
Zhisrisu83      Curved Axe                                      1
                Nirvana                                         1
Zontibe81       Celeste                                         1
Name: SN, Length: 777, dtype: int64

In [92]:
# Set new index to last_name
sn_purchase_data_df = purchase_data_df.set_index("SN")
sn_purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,Age Range
SN,,,,,,
Aelalis34,38,Male,165,Bone Crushing Silver Skewer,3.37,35-39
Eolo46,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,20-24
Assastnya25,34,Male,174,Primitive Blade,2.46,30-34
Pheusrical25,21,Male,92,Final Critic,1.36,20-24
Aela59,23,Male,63,Stormfury Mace,1.27,20-24

In [93]:
#total players purchase count.

total_purchases_df = sn_purchase_data_df["Item ID"].value_counts()
total_purchases_df

84     11
39     11
31      9
34      9
175     9
13      9
106     8
44      8
92      8
65      8
152     8
107     8
172     7
179     7
115     7
154     7
79      7
158     7
108     7
66      7
11      7
130     7
18      7
124     6
103     6
101     6
121     6
102     6
73      6
145     6
       ..
116     2
89      2
64      2
9       2
167     2
80      2
74      2
72      2
146     2
149     2
150     2
178     2
62      2
58      2
56      2
55      2
4       1
2       1
3       1
59      1
28      1
168     1
164     1
43      1
156     1
147     1
136     1
126     1
109     1
0       1
Name: Item ID, Length: 183, dtype: int64